@font-face {
  font-family: "Larsseit";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/Larsseit/Larsseit-Medium.ttf"); /* IE9 Compat Modes */
  src: local("Larsseit"), local("Larsseit"),
    url("/src/assets/Larsseit/Larsseit-Medium.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("/src/assets/Larsseit/Larsseit-Medium.ttf#Larsseit") format("ttf"); /* Legacy iOS */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ant-drawer-body  ul{
  list-style-type: none;
  margin: 0;
  padding: 0.3rem
}

/* .nav-item a:hover{
  color: #ffffff;
  opacity: 1;
} */

ul{
  list-style-type: none;
  margin: 0;
}

.border-none{
  border-left: 1px solid rgb(184, 176, 176);
}

.ant-drawer-body .active-nav {
  color: #4d9e39;
}

.ant-drawer-body li a{
  color: #000000;
 
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.align-items-center {
  align-items: center;
}
.cursive {
  font-family: "Devonshire", cursive;
}

.table-wrapper {
  overflow-x: scroll;
}

a.faq-box {
  color: #000000;
}

a.faq-box:hover {
  color: #000000;
}

hr {
  background-color: #aeaeae;
}

* {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom: 1px solid #ececec;
}

body {
  margin: 0;
  font-family: "Larsseit", Larsseit, sans-serif;
  font-weight: 400;
  line-height: 1.5725;
  color: rgba(0, 0, 0, 0.76);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

a {
  color: #ffffff;
}

a:hover {
  color: initial;
  opacity: 0.7;
}
.a-disabled {
  background-color: #ececec;
  color: #949aad;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  min-height: 100vh;
}

/* generic elements */

button {
  height: 35px;
  color: #333a56;
  cursor: pointer;
  font-size: 18px;
  border-radius: 3px;
}

a {
  text-decoration: none;
}

/* navigation */

.navigation-div {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 100;
  background-color: #ffffff;
  height: 80px;
  padding: 0 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-gap: 30px;
}

.about-us-grid {
  display: grid;
  grid-template-columns: 10% 88%;
  grid-gap: 2%;
}

.sponsor-grid {
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  grid-gap: 30px;
}

.ticket-grid {
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  grid-gap: 25px;
}

.black-overlay{
  background-color: rgb(34, 34, 34, 0.9);
}

.profile-grid {
  display: grid;
  grid-template-columns: 19% 79%;
  grid-gap: 30px;
}

.winner-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 30px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 30px;
}
.faq-grid {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 4%;
}

.faq-flex{
  display: flex;
    justify-content: space-around;
}

.white-color{
  color: #ffffff;
}

.secondary-bg-color {
  background-color: #e89606;
}

.off-black-color {
  color: #111111;
}

header #branding h1 {
  margin: 0;
}

header {
  background-color: #ffffff;
}

header a {
  color: #4f5873;
  text-decoration: none;
  font-size: 16px;
  /*font-weight: bold;*/
}

header a:hover {
  font-weight: bold;
  color: #4d9e39;
}

.menu > ul > li {
  display: inline-block;
  position: relative;
  margin: auto;
  list-style: none;
  display: inline;
  padding: 15px;
  text-decoration: none;
  color: #ffffff;
}

.footer-links > ul > li {
  display: inline-block;
  position: relative;
  margin: auto;
  list-style: none;
  display: inline;
  padding: 10px;
}

.burger-icon {
  display: none;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-150 {
  margin-top: 150px;
}

ul.navigtion-items {
  display: flex;
}

/* content section */

.container {
  width: 70%;
  margin: auto;
}

#address404 {
  color: red;
}

.failed {
  color: red;
}

.success {
  color: #4d9e39;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-bg {
  height: 100vh;
  width: 100%;
  /*background-color: #EEF7FF;*/
}

.fullwidth {
  width: 100%;
}

.fullheight {
  height: 100%;
}

.light-blue-bg {
  background-color: #eef7ff;
}

.z-index-100 {
  z-index: 100;
}

.black {
  color: #222222;
}

/**
  Fonts Styles
*/

.title2 {
  font-size: 20px;
  font-weight: Bold;
}

.paragraph {
  font-size: 16px;
}

.paragraph-bold {
  font-size: 16px;
  font-weight: bold;
}

.title1 {
  font-size: 24px;
  font-weight: bold;
}
.title1-regular {
  font-size: 24px;
}

.biggestText {
  font-size: 48px;
}

.bigTitle {
  font-size: 26px;
  font-weight: bold;
}

.overline-tx {
  font-size: 10px;
}

.small-paragraph {
  font-size: 14px;
}

.small-paragraph-bold {
  font-size: 14px;
  font-weight: bold;
}

.gap-30 {
  gap: 30px;
}

.off-white-color {
  color: #ececec;
}

.text-align-center {
  text-align: center;
}

.form-holder {
  background-color: #ffffff;
  border-radius: 20px;
  min-height: 100px;
  padding: 40px;
}

.primary-color {
  color: #1e3b9e;
}

.primary-bg-color {
  background-color: #1e3b9e;
}

.image-br{
  border-radius: 30px 0 0 30px!important;
}

.primary-input {
  height: 50px;
  width: 100%;
  border-radius: 100px;
  border: 1px solid #949aad;
  outline: none;
  text-indent: 15px;
}

.search-input-style {
  outline: none;
  text-indent: 15px;
  border: none;
  width: 90%;
  color: #000000;
}

.referral-code {
  width: inherit;
  text-align: center;
}

.border-none {
  border: none;
}
.outline-none {
  outline: none;
}
.m-align-items-center {
  align-items: center;
}

.filter-width {
  width: 48%;
}

.m-flex {
  display: flex;
}

.search-input {
  height: 50px;
  border-radius: 100px;
  border: 1px solid #ececec;
  padding: 0 15px;
}

/*[placeholder*='Search list'] {*/
/*    color: #ececec;*/
/*}*/

.primary-input:focus,
.primary-input:hover {
  border: 1px solid #e89606;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 240, 215, 0.75);
  box-shadow: 0 0 0 0.2rem rgba(255, 240, 215, 0.75);
  outline: 0;
}

.primary-button {
  background-color: #035ea8;
  color: #ffffff;
  width: 100%;
  height: 50px;
  border-radius: 100px;
  outline: none;
  border: none;
}

.ticket-button {
  background-color: #035ea8;
  color: #ffffff;
  width: 100%;
  height: 33px;
  border-radius: 100px;
  outline: none;
  border: none;
}

.secondary-btn {
  width: 280px;
  height: 50px;
  border-radius: 100px;
  outline: none;
  border: none;
  text-align: center;
  padding: 0 15px;
  line-height: 50px;
}

.danger-bg-color {
  background-color: #eb5757;
}

.danger-color {
  color: #eb5757;
}

.grid-70-30 {
  grid-template-columns: 68% 28%;
  grid-gap: 4%;
  display: grid;
}

.green-bg-color {
  background-color: #4d9e39;
}

.green-color {
  color: #4d9e39;
}

.header-button {
  background-color: #035ea8;
  color: #ffffff;
  width: 180px;
  height: 50px;
  border-radius: 100px;
  outline: none;
  border: none;
}

.primary-border-button {
  border: 1px solid #035ea8;
  color: #035ea8;
  width: 100%;
  height: 50px;
  border-radius: 100px;
  outline: none;
  background-color: #ffffff;
}

/*Colors**/
.grey-color {
  color: #4f5873;
}

.light-grey-color {
  color: #949aad;
}

/***/

.hr {
  height: 1px;
  background-color: #ececec;
}

.hr-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-right-10 {
  margin-right: 10px;
}

.forgot-password {
  color: #4d9e39;
  text-decoration: underline;
}

.signup-bg {
  background-color: #eef7ff;
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.imag2 {
  max-width: 718px;
  max-height: 354px;
}

.padding-0 {
  padding: 0;
}

.page-link {
  position: relative;
  display: block;
  color: #4d9e39;
  text-decoration: none;
  background-color: #fff;
  border: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(238, 247, 255, 0.8);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.black-color {
  color: #000000;
}

.footer {
  background-color: #4d9e39;
  margin-top: 120px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.sub-footer-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-info {
  background-color: #e89606;
  height: 290px;
  width: 93%;
  margin-top: -200px;
  border-radius: 20px;
}

.grid-container {
  display: flex;
  justify-content: space-around;
}

.col-md-90 {
  width: 90%;
}
.footer a{
  color: #ffffff;
}

.footer-links-holder {
  /*height: 100px;*/
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  /*align-items: center;*/
  width: 100%;
  margin: auto;
}

.white-color {
  color: #ffffff !important;
}

.pl-3 {
  padding-left: 3em;
}

.pr-3 {
  padding-right: 3em;
}

.banner-bg {
  background-color: #101f6d;
}

.banner {
  border-radius: 30px;
}

.container-padding {
  padding: 0 5%;
}

.raffle-button {
  position: relative;
}

.raffle-button {
  min-height: 40px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  color: #ffffff;
  padding: 5%;
}

.raffle-profile-button {
  min-height: 40px;
  border-radius: 4px;
  width: 100%;
  padding: 5%;
}

.raffle-card-button {
  background-color: #ececec;
  color: #000000;
}

.margin-bottom-300 {
  margin-bottom: 300px;
}

.mt-6 {
  margin-top: 6em;
}

.m-pl-6 {
  padding-left: 4em;
}

.circle-background {
  background-color: rgba(77, 158, 57, 0.2);
  height: 80px;
  width: 80px;
  border-radius: 100px;
  color: #4d9e39;
}

.circle-background2 {
  background-color: rgba(16, 31, 109, 0.2);
  height: 80px;
  width: 80px;
  border-radius: 100px;
  color: #101f6d;
}

.circle-background3 {
  background-color: rgba(232, 150, 6, 0.2);
  height: 80px;
  width: 80px;
  border-radius: 100px;
  color: #e89606;
}

.circle-background4 {
  color: #5340ff;
  background-color: rgba(83, 64, 255, 0.2);
  height: 80px;
  width: 80px;
  border-radius: 100px;
}

.circle-background5 {
  color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
  height: 80px;
  width: 80px;
  border-radius: 100px;
}
.homepage-featured {
  background-position: center;
  background-size: cover;
  /* height: 563px; */
  width: 100%;
  border-radius: 20px;
}

.m-container {
  width: 70%;
  margin: auto;
}

.homepage-cover {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
}

.ticket-details {
  float: right;
  width: 161px;
  height: 161px;
  background-color: #eef7ff;
  margin-right: -40px;
  margin-top: -15px;
  box-sizing: border-box;
  -webkit-clip-path: ellipse(60px 40px at 75px 30px);
  clip-path: ellipse(60px 60px at 75px 30px);
}

.ticket-details-holder {
  overflow: hidden;
  border-radius: 20px;
}

.r-mt-3 {
  margin-top: 1rem!important;
}

.raffle-secondary-btn {
  width: 280px;
  height: 50px;
  border-radius: 100px;
  outline: none;
  border: none;
  text-align: center;
  padding: 0 15px;
  line-height: 50px;
}

.ticket-text {
  margin-right: 20px;
}

.m-hidden {
  display: block;
}

.m-justify-content-normal {
  justify-content: center;
}

.m-show {
  display: none;
}

.raffle-card-holder {
  min-height: 325px;
  border-radius: 20px;
  border: 1px #ececec solid;
  /* padding: 0 0 15px 15px; */
}

.raffle-image {
  /*width: 100%;*/
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 20px;
  background-position: center;
  background-size: contain;
}

.charity-icon {
  position: relative;
  bottom: -250px;
  left: 0;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ececec;
}

.height-100px {
  height: 100px;
}

.padding-right-15 {
  padding-right: 15px;
}

.winners-holder-div {
  min-height: 652px;
  margin-top: -35px;
  background: linear-gradient(
    to right,
    white 34%,
    #fff0d7 40%,
    #fff0d7 90%,
    #fff0d7 0%,
    #fff0d7 100%
  ); /* W3C */
}

.winners-div {
  height: 393px;
  padding: 15px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin-right: 15px;
}

.m-mt-3{
  margin-top: 3rem;
}

.overflow-ellipsis{
  display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

.padding-15px {
  padding: 15px;
}

.price-won {
  height: 50%;
  border-radius: 20px;
  border: 1px solid #ececec;
  background-image: url("assets/image 5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.winners-profile {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px #ececec solid;
  margin-top: -40px;
  background-size: cover;
  background-position: center;
}

.header3 {
  font-size: 18px;
  font-weight: bold;
}

.header3regular {
  font-size: 18px;
  /*font-weight: lighter;*/
}

.display-none {
  display: none;
}

.slider-icon {
  background-color: #949aad;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 5px;
}

.slider-icon-active {
  background-color: #ffffff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 5px;
}

.active-nav {
  color: #4d9e39;
  font-weight: bold;
}

.page-item.active .page-link {
  background-color: #4d9e39;
  border-radius: 50%;
  color: #ffffff;
  border: #4d9e39 1px solid;
}

.page-item.disabled .page-link {
  border: none;
  color: #949aad;
}

.pagination-holder {
  border: 1px solid #ececec;
  padding: 5px 15px;
  border-radius: 100px;
}

.raffle-details {
  min-height: 534px;
  border-radius: 30px;
}

.nav-tabs .nav-link.active {
  background-color: #ffffff;
  color: #1e3b9e;
  font-weight: bold;
}

.nav-tabs .nav-link {
  background-color: #ececec;
  color: #4f5873;
}

.nav-item {
  margin-right: 10px;
}

.height-80px {
  height: 80px;
}

.tab-content {
  border: 1px solid #eaedf3;
  border-top: none;
  min-height: 482px;
  border-radius: 8px;
}

.raffle-details-image {
  background-repeat: no-repeat;
  min-height: 534px;
  background-size: contain;
}

.about-mt-6 {
  margin-top: 6em;
}

.charity-image{
  height: 70%;
}

.about-mb-5 {
  margin-bottom: 3rem;
}

.padding-5 {
  padding: 0 5%;
}

.dashboard-stats-holder {
  min-height: 142px;
  border-radius: 20px;
  padding: 20px;
}

.dashboard-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.profile-card {
  box-shadow: 0px 1px 107px -56px rgba(148, 154, 173, 0.71);
  -webkit-box-shadow: 0px 1px 107px -56px rgba(148, 154, 173, 0.71);
  -moz-box-shadow: 0px 1px 107px -56px rgba(148, 154, 173, 0.71);
  min-height: 644px;
  padding: 15px;
}

.active-class {
  height: 40px;
  background-color: #035ea8;
  color: #ffffff;
  border-radius: 100px;
  padding: 0 5%;
}

.sidebar-link {
  color: #949aad;
  margin: 15px 0;
  padding: 0 5%;
}

.log-out {
  color: #eb5757;
  top: 0;
  position: relative;
  cursor: pointer;
  padding: 0 5%;
}

.pl-2 {
  padding-left: 2rem;
}

.empty-state {
  height: 590px;
}

.ticket-card {
  height: 215px;
  padding: 5%;
  border: 1px solid #ececec;
  border-radius: 20px;
}

.disabled-btn {
  background-color: #ececec;
  height: 50px;
  line-height: 50px;
  border-radius: 100px;
  text-align: center;
  /*padding: 0 15%;*/
}

.danger-btn {
  background-color: #eb5757;
  height: 50px;
  line-height: 50px;
  border-radius: 100px;
  text-align: center;
  /*padding: 0 15%;*/
}

.margin-top-2 {
  margin-top: 2em;
}

.ml-5px {
  margin-left: 5px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.box-shadow {
  box-shadow: 0px 1px 107px -56px rgba(148, 154, 173, 0.71);
  -webkit-box-shadow: 0px 1px 107px -56px rgba(148, 154, 173, 0.71);
  -moz-box-shadow: 0px 1px 107px -56px rgba(148, 154, 173, 0.71);
}

.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.link-text {
  text-decoration: underline;
  color: #140c5b;
}

.carousel-holder {
  position: absolute;
  /* top: 0; */
  bottom: 20px;
  right: 47%;
}

.float-right {
  float: right;
}

.border-radius-20 {
  border-radius: 20px;
}

.about-us-video,
source {
  border-radius: 20px;
  /* height: 308px; */
}

.about-us-video-height {
  min-height: 608px;
}

.faq-box {
  border-radius: 20px;
  height: 213px;
  border: 1px solid #ececec;
  padding: 15px;
}

.gap-30 {
  gap: 15px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.charity-btn {
  background-color: #140c5b;
  color: #ffffff;
  height: 35px;
}

.bonus {
  background-color: rgba(77, 158, 57, 0.2);
  color: #4d9e39;
  text-align: center;
  border-radius: 4px;
  width: 80%;
  font-size: 12px;
}

.padding-b-20per {
  padding-bottom: 20%;
}

.charity-banner {
  height: 534px;
}

.bordered {
  border: 1px solid #ececec;
  border-radius: 16px;
}

.charity-list-image {
  height: 192px;
}

.charity-raise {
  background-color: #140c5b;
  color: #ffffff;
  height: 35px;
  border-radius: 4px;
  /* line-height: 35px; */
}

.charity-logo {
  height: 100%;
  object-fit: contain;
}

.text-align-left {
  text-align: left;
}

.num-of-users-holder {
  border-left: 4px #e89606 solid;
}

.num-of-prices-holder {
  border-left: 4px solid #4f5873;
}

.num-of-winners-holder {
  border-left: 4px solid #4d9e39;
}

.capitalize {
  text-transform: uppercase;
}

.min-height-100vh {
  min-height: 100vh;
}


