@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100% !important;
  }

  blockquote {
    quotes: "“" "”" "‘" "’";
    font-size: 16px !important;
  }

  .navigation-items li {
    padding: 0.5rem 0;
  }

  .sidebar-link {
    color: #000000;
    /* margin: 15px 0; */
    padding: 0.5rem 0;
  }

  .border-none {
    border: none;
  }

  .drawer-header-style {
    padding: 0;
    width: 85%;
  }

  .top-filter-padding {
    padding: 1.5rem 0;
  }

  .active-class {
    color: #4d9e39;
    background-color: #ffffff;
    font-weight: 500;
    height: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
  }

  .menu {
    display: none;
  }

  .m-align-items-center {
    align-items: normal;
  }

  .burger-icon {
    display: inline-block;
    margin-right: 20px;
  }

  .flex-row {
    flex-direction: column !important;
  }

  .m-pl-6 {
    padding: 0;
  }

  .imag2 {
    width: 343px;
    height: 150px;
  }

  .m-fs-36 {
    font-size: 12px;
  }

  .m-fs-24 {
    font-size: 24px;
  }

  .footer-links-holder {
    display: flex;
    flex-direction: column;
  }

  .footer-links > ul > li {
    display: flex;
    /*position: relative;*/
    list-style: none;
    /*display: inline;*/
    padding-inline-start: 0 !important;
    padding: 10px;
    flex-direction: column;
  }

  .m-flex {
    flex-direction: column;
  }

  .m-text-align-center {
    text-align: center;
  }

  .m-raffle-btn {
    width: 100%;
  }

  .m-mt-1 {
    margin-top: 1em;
  }

  .m-ml-6 {
    margin-left: 6em;
  }

  .m-mt-3 {
    margin-top: 3em;
  }

  .m-mb-3 {
    margin-bottom: 3em;
  }

  .m-justify-content-center {
    justify-content: center;
  }

  .m-show {
    display: block;
  }

  .m-justify-content-normal {
    justify-content: normal;
  }

  .m-p-3 {
    padding: 0 3em;
  }

  .m-p-2 {
    padding: 0 2em;
  }

  .m-hidden {
    display: none;
  }

  .winners-holder-div {
    min-height: 625px;
    background: #fff0d7;
    margin-top: 35px;
  }

  .m-background {
    background: #fff0d7;
    padding: 30px;
  }

  .winners-div {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .card-grid {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 30px;
  }

  .odometer-block{
    font-size: 10px;
  }

  .dashboard-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
  }

  .raffle-image {
    max-height: 200px;
    background-size: cover;
    background-position: center;
  }

  .m-mt-3{
    margin: 0;
  }

  .testimony{
    height: 150px;
  }

  .description-height{
    height: 50px;
  }
  .ticket-text{
    font-size: 10px;
  }

  .padding-right-15{
    padding: 5px;
  }

  .charity-icon {
    bottom: -20px;
  }
  .raffle-card-button{
    border-radius: 0 0 20px 20px;
    background-color: rgb(236, 236, 236, 0.5);
  }

  .m-display-none {
    display: none;
  }

  .display-none {
    display: block;
  }

  .side-nav {
    display: none;
  }

  .profile-grid {
    display: block;
  }

  .ticket-grid {
    display: block;
    width: 50%;
  }
  .ticket-m {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ticket-card {
    margin-bottom: 30px;
  }
  .about-us-grid {
    display: grid;
    grid-template-columns: 28% 70%;
    grid-gap: 2%;
  }

  .faq-grid {
    display: block;
  }
  .mobile-flex {
    display: flex;
  }
}
