@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  blockquote {
    quotes: "“" "”" "‘" "’";
    font-size: 16px !important;
  }

  .navigation-items li {
    padding: 0.5rem 0;
  }

  .team-picture {
    min-height: 534px;
    object-fit: cover;
  }

  
  .sidebar-link {
    color: #000000;
    /* margin: 15px 0; */
    padding: 0.5rem 0;
  }
  .circle-background1 {
    height: 66px;
    width: 66px;
  }
  .circle-background2 {
    height: 66px;
    width: 66px;
  }
  .circle-background3 {
    height: 66px;
    width: 66px;
  }
  .circle-background4 {
    height: 66px;
    width: 66px;
  }

  .circle-background5 {
    height: 66px;
    width: 66px;
  }

  .circle-background {
    height: 66px;
    width: 66px;
  }

  .t-mt-6 {
    margin-top: 2rem;
  }
  .border-none {
    border: none;
  }

  .drawer-header-style {
    padding: 0;
    width: 85%;
  }

  .top-filter-padding {
    padding: 1.5rem 0;
  }

  .active-class {
    color: #4d9e39;
    background-color: #ffffff;
    font-weight: 500;
    height: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
  }

  .menu {
    display: none;
  }

  .m-align-items-center {
    align-items: normal;
  }

  .burger-icon {
    display: inline-block;
    margin-right: 20px;
  }

  .flex-row {
    flex-direction: column !important;
  }

  .image-br{
    border-radius: 0!important;
  }

  .charity-image{
    height: 100px;
    width: 100%;
  }

  .bigTitle {
    font-size: 24px;
    font-weight: bold;
}

.biggestText {
  font-size: 36px;
}

  .about-mt-6{
    margin-top: 2rem;
  }

  .about-mb-5{
    margin-bottom: 2rem;
  }

  .raffle-details-center{
    justify-content: center;
    width: 100%;
  }

  .m-margin-0{
    margin: 0!important;
  }

  .raffle-details-mt{
    margin-top: 0.24rem!important;
  }

  .bottom-0{
    bottom: 0!important
  }

  .r-mt-2{
    margin-top: .5rem!important;
  }

  .border-radius-0{
    border-radius: 0!important;
  }

  .raffle-details-image{
    min-height: 300px;
  }
  .sponsor-grid{
    display: flex;
    flex-direction: column;
  }

  .raffle-button {
    min-height: 24px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    /* color: #ffffff; */
    /* padding: 4%; */
}

  .ellipsis {
    display: -webkit-box!important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

  .m-pl-6 {
    padding: 0;
  }

  .imag2 {
    width: 343px;
    height: 150px;
  }

  .m-fs-36 {
    font-size: 12px;
  }

  .m-fs-24 {
    font-size: 20px;
  }

  .footer-links-holder {
    display: flex;
    flex-direction: column;
  }
  .grid-70-30 {
    grid-template-columns: 100%;
    grid-gap: 15px;
    display: grid;
  }

  .mobile-font-10{
    font-size: 10px;
  }
  .mobile-style{
    width: 14px;

  }

  .profile-card-grid {
    display: grid;
    grid-template-columns: 100%;
  }

  .footer-links > ul > li {
    display: flex;
    /*position: relative;*/
    list-style: none;
    /*display: inline;*/
    padding-inline-start: 0 !important;
    padding: 10px;
    flex-direction: column;
  }

  .m-flex {
    flex-direction: column;
  }

  .m-text-align-center {
    text-align: center;
  }

  .m-container {
    width: 95%;
  }

  .m-raffle-btn {
    width: 100%;
  }

  .m-mt-1 {
    margin-top: 1em;
  }

  .m-ml-6 {
    margin-left: 6em;
  }

  .m-mt-3 {
    margin-top: 3em;
  }

  .m-mb-3 {
    margin-bottom: 3em;
  }

  .m-justify-content-center {
    justify-content: center;
  }

  .m-show {
    display: block;
  }

  .m-justify-content-normal {
    justify-content: normal;
  }

  .paragraph {
    font-size: 12px;
  }
  .margin-bottom-300 {
    margin-bottom: 200px;
  }

  .m-p-3 {
    padding: 0 3em;
  }

  .m-p-2 {
    padding: 0 2em;
  }

  .m-hidden {
    display: none;
  }

  .winners-holder-div {
    min-height: 625px;
    background: #fff0d7;
    margin-top: 35px;
  }

  .m-background {
    background: #fff0d7;
    padding: 30px;
  }

  .winners-div {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .card-grid {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 10px;
  }

  .odometer-block {
    font-size: 10px;
  }

  .dashboard-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
  }

  .raffle-image {
    height: 201px;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 20px 20px;
    width: 100%;
  }

  .raffle-card-holder {
    max-height: 315px;
    min-height: 315px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }

  .raffle-card-button {
    font-size: 10px;
  }

  .ticket-details {
    float: right;
    width: 66px;
    height: 66px;
    /* background-color: #eef7ff; */
    /* margin-right: -40px;
    margin-top: -15px; */
    box-sizing: border-box;
    /* -webkit-clip-path: ellipse(60px 40px at 75px 30px);
    clip-path: ellipse(60px 60px at 75px 30px); */
  }

  

  .container {
    width: 95%;
    margin: auto;
  }

  .m-mt-3 {
    margin: 0;
  }

  .mobile__padding {
    padding: 2rem;
  }

  .testimony {
    height: 150px;
  }

  .r-mt-3{
  
      margin-top: 0!important;
  }

  .description-height {
    height: 40px;
  }
  .ticket-text {
    font-size: 10px;
  }

  .padding-right-15 {
    padding: 5px;
  }

  .charity-icon {
    bottom: 35px;
    width: 20px;
    left: 0;
    position: absolute;
  }

  .m-title2 {
    font-size: 12px;
}

  .small-paragraph{
    font-size: 10px;
  }

  .raffle-card-button {
    border-radius: 0 0 20px 20px;
    /* position: relative; */
    /* bottom: -40px; */
    background-color: rgb(236, 236, 236, 0.5);
    position: absolute;
    bottom: 0;
    opacity: 0.8;
    background-color: white;
    color: #2A3138;
    font-weight: 600;
  }

  .m-padding-0{
    padding: 0;
  }

  .raffle-secondary-btn {
    height: 28px;
    border-radius: 100px;
    outline: none;
    border: none;
    font-size: 10px;
    text-align: center;
    padding: 0 15px;
    line-height: 28px;
}


.absolute-div{
  position: absolute;
  height: 201px;
  width: 100%;
}

  .m-display-none {
    display: none;
  }

  .m-ticket-details {
   width: fit-content;
    border-radius: 50px;
    padding: 0 0.3rem;
    display: flex;
    font-size: 10px;
    padding: 0.1rem 0.2rem;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #f2f2f2;
    position: absolute;
    left: 3px;
    top: 3px;
  }

  .m-mr-2{
    margin-right: 0.25rem ;
  }

  .m-ticket-text{
    padding:0 .25rem;
  }

  .ticket-logo-holder{
    background-color: rgb(77, 158, 57, 0.25);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    /* left: -3px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ticket-icon-size {
    width: 12px;
  }

  .fs-10 {
    font-size: 10px;
  }

  .display-none {
    display: block;
  }

  .side-nav {
    display: none;
  }

  .profile-grid {
    display: block;
  }

  .ticket-grid {
    display: block;
    width: 50%;
  }
  .ticket-m {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ticket-card {
    margin-bottom: 30px;
  }
  .about-us-grid {
    display: grid;
    grid-template-columns: 28% 70%;
    grid-gap: 2%;
  }

  .faq-grid {
    display: block;
  }
  .mobile-flex {
    display: flex;
  }
}
